asn1crypto==1.2.0
biopython==1.74
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Flask==1.1.1
-e git+https://github.com/xchem/fragalysis-api.git@05799cb26ed93161ef87f3357741add163d3eb0c#egg=fragalysis_api
freemol==1.158
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.4
olefile==0.46
pandas==0.25.3
pdb2pqr-minimal==0.0.0
Pillow==6.2.1
pycparser==2.19
pymol==2.3.4
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
